.smpg-individual-schema-list li{
    padding: 10px;
    padding-bottom: 4px;
    overflow: auto;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid#990000;
    background: #f7f0f0;
}
.smpg-individual-item-actions{
    float: right;
    display: flex;    
    position: relative;
}
.smpg-individual-item-actions .components-base-control{
    margin-top: 2px;
    margin-right: -5px;
}
.smpg-individual-item-actions button{
    height: auto !important;
    padding: 6px 3px !important;
}
.smpg-i-warning-icon::before{
    color: #ffc107 !important;
}
.smpg-i-warning-icon{
    margin-right: 5px;
}
.smpg-add-to-list-table{
    width: 100%;
}
.smpg-description{
    margin-top: auto;
    font-size: 14px;
    padding-top: 5px;
    font-style: normal;    
    color: #000;
}
.smpg-add-schema-action{ 
    padding-top: 15px;        
}
.smpg-add-schema-select{
    display: flex;
}
.smpg-select{
    float: left;
    width: 60%;
    padding-right: 20px;
}
.smpg-delete-popover{            
    background: #ffffff;
    width: 150px;
    right: 47px;        
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-size: 15px;
    color: #000;
    position: absolute;
    z-index: 999;
    margin-top: -3px;    

}
.smpg-form-group{
    margin-bottom: 15px;
    background: #f0f0f0;
    padding: 12px;    

}
.smpg-form-group label{
    display: inline-block;    
    margin-bottom: 5px;
    font-weight: 700;
}
textarea.smpg-form-control {
    height: auto;
}
.smpg-clear{
    clear: both;
}
.smpg-form-control{
    display: block;
    width: 100%;
    max-width: 100% !important;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;    
}
.smpg-image-preview {
    width: 150px;  
    height: 150px;    
    position: relative;
    margin-top: 8px;
    border: 2px solid #f7f0f0;

}
.smpg-image-preview img{
    width: 100%;
    height: 100%;
    padding:8px;    
}
.smpg-media-upload{
    margin-bottom: 10px;
}
.smpg-upload-img-btn{
    margin-bottom: 10px;
}
.smpg-image-preview a{
    position: absolute;
    font-size: 20px;
    margin-top: -2px;
    padding-left: 1px;
    cursor: pointer;
    border: 2px solid #f7f0f0;
    background: #f7f0f0;
}
.smpg-i-schema-setup{
    width: 700px;
}
.smpg-item-box{
    padding: 10px;
    border: 1px solid #dadfe4;
    border-radius: 4px;
    background: #f8f9fa;
    text-align: center;
    cursor: pointer;
}
.smpg-item-box-selected{
    border: 2px solid #990000;
}
.smpg-schema-list{
    width: 800px;
}
.smpg-choose-ok{
    margin-top: 25px;
    text-align: center;
}
.smpg-list-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1em;
}
.smpg-tooltip {
    position: relative;
    display: inline-block;    
    cursor: pointer;
}  
.smpg-tooltip .smpg-tooltiptext {
    visibility: hidden;
    max-width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}  
.smpg-tooltip:hover .smpg-tooltiptext {
    visibility: visible;
}
.smpg_individual_taxonomy #smpg_individual_post_container{
    background: #fff;
    padding: 15px;
}

@media (max-width: 600px) {
    .smpg-i-schema-setup{
        width: auto;
    }
}