.smpg-settings-content{
    display:flex;
}
.smpg-import-td{
    position: relative;
}
.smpg-save-settings-btn{
    padding:40px;
}
.smpg-default-data-table th, .smpg-default-data-table td{
    display: inline-flex;
}
.smpg-settings label{
    cursor: pointer;
}