.smpg-repeater-panel-body{
    padding: 15px;
    border: 1px solid darkgrey;
    margin-bottom: 10px;
    position: relative;
}
.smpg-trash-repeater{
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.smpg-repeater-i{
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 2px;
    background: #cccccc;
}
.smpg-repeater-panel{
    border:0px solid #fff;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}

/* groups elements css starts here */
.smpg-groups-elements {
	display: flex;
	flex-wrap: wrap;
	gap: 5px; /* Space between items */
}

.smpg-groups-elements .smpg-form-group {
	display: flex;
	align-items: center;
	gap: 5px;	
	padding: 8px 10px;		
}

.smpg-groups-elements .smpg-form-group label {
	margin: 0;	
}
